extends ../layouts/default

block content
	.panel.panel-default
		.panel-body
			table.table
				thead
					th: h3
						| Name
					each header in topics
						th: h3= header.title
				tbody
					each row in people
						tr: td= row.name.full
							each topic in topics
								td
									!= _.where(row.pros, { id : topic.id}).length > 0 ? 'Yes' : _.where(row.antis, { id: topic.id }).length ? 'No' : 'tweet'